Body {
    background-color: whitesmoke;
    
}
ul {
    list-style: none;
    text-align: center;
    background: #92b2ba;
    height: 33px;
    margin: 0 auto;
    margin-top: 15px;
    width: 800px;
    padding: 10px;
    
}

li {
    color: white;
    display: inline;
    line-height: 33px;
    padding: 6%;
    font-family: 'DM Sans';
    font-size: 12px;
}

  img {
    width: 820px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
  }

  .image-grid {

    width: 820px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
    display: block;
  }